
db.sqlite3
easymods/__pycache__/settings.cpython-310.pyc
easymods/__pycache__/urls.cpython-310.pyc
empty/deleloping front/home.html
empty/developing back/dividing mods into pages.py
main/__pycache__/models.cpython-310.pyc
main/__pycache__/urls.cpython-310.pyc
main/__pycache__/views.cpython-310.pyc
main/migrations/__pycache__/0002_mod_description.cpython-310.pyc
db.sqlite3
db.sqlite3
easymods/__pycache__/settings.cpython-310.pyc
easymods/__pycache__/urls.cpython-310.pyc
empty/deleloping front/home.html
main/__pycache__/models.cpython-310.pyc
main/__pycache__/urls.cpython-310.pyc
main/__pycache__/views.cpython-310.pyc
main/templates/main/html/temp_modlist.html
