{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить мод</title>
    <link rel="stylesheet" href="{% static 'main/css/addmod.css' %}">
</head>
<body>
    <button><a href="{% url 'home' %}">На главную</a></button>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.url }}<br>
        {{ form.version }}<br>
        {{ form.categories }}
        <span>{{ error }}</span>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>