{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/other/logo.png' %}">
        <h3>Фильтры:</h3>
        <form method="post">
            {% csrf_token %}
            <label for="version-select">Версия:</label>
            <select name="version" id="version-select">
                {% for version in versions %}
                    <option value="{{ version }}">{{ version }}</option>
                {% endfor %}
            </select>
            <label for="categories">Категории:</label>
            <select name="categories" id="categories" multiple>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <button type="submit">Применить</button>
        </from>
    </aside>
    {% block modlist %}
    {% endblock %}
</body>
</html>