{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/other/logo.png' %}">
        <h3>Фильтры:</h3>
        <form method="post">
            {% csrf_token %}
            <label for="version-select">Версия:</label>
            <select name="version" id="version-select">
                {% for version in versions %}
                    <option value="{{ version }}">{{ version }}</option>
                {% endfor %}
            </select>
            <ul>
                {% for category in categories %}
                    <li>
                        <label for="{{ category }}"><input type="checkbox" name="{{ category }}" id="{{ category }}">{{ category }}</label>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Применить</button>
        </from>
    </aside>
    <main>
        <ul>
        {% for mod in mods %}
            <div class="mod-block">
                <div class="mod-title">
                    <a href="{{ mod.url }}">{{ mod.name }}</a>
                </div>
                <div class="mod-description">
                    <p>
                        Описание мода
                    </p>
                </div>
                <hr>
            </div>
        {% endfor %}
        </ul>
    </main>
</body>
</html>