{% extends 'main/html/aside.html' %}

{% block modlist %}
<main>
    <div class="mods">
    <div class="list-mods">
        {% for mod in mods%}
        <div class="mod-block">
            <div class="mod-title">
                <a href="{{ mod.url }}">{{ mod.name }}</a>
            </div>
            <div class="mod-version">
                <p>{{ mod.version.version}}</p>
            </div>
            <div class="mod-description">
                <p>
                    {{ mod.description }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="pages">
        {% if cur_page > 1 %}
        <div><a href="/page/{{ cur_page|add:-1 }}">prev page</a></div>
        {% endif %}
        <div >{{ cur_page }}</div>
        <div><a href="/page/{{ cur_page|add:1 }}">next page</a></div>
    </div>
</main>
{% endblock %}