/* general */

body{
    background-color: rgb(79, 79, 79);
}

ul{
    list-style: none;
    padding-left: 0%;
}

/* general */

/* aside */

aside{
    float: left;
    background-color: rgb(28, 28, 28);
    width: 10%;
    padding: 1.5%;
    height: 100vh;
    border: -5px solid rgb(255, 60, 0);
}

aside a{
    color: rgb(124, 124, 124);
    font-size: 20px;
    text-decoration: none;
    word-wrap: break-word;
}

aside img{
    width: 100%;
    float: left;
}

aside h2{
    color: rgb(124, 124, 124);
    word-wrap: break-word;
}

aside h3{
    color: rgb(124, 124, 124);
    word-wrap: break-word;
    text-align: center;
}

aside form {
    font-size: 20px;
    color: rgb(217, 34, 65);
}

aside form button{
    font-size: 20px;
}

form select{
    padding-left: 0%;
    word-wrap: break-word;
}

form select option{
    list-style: none;
    word-wrap: break-word;
}

/* aside */

/* main */

main{
    float: right;
    width: 87%;
}

.mod-block{
    padding: 1%;
    background-color: rgb(15, 70, 15);
    text-align: center;
    /* color: rgb(217, 34, 65); */
}

.mod-title a{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
}

.mod-description p{
    font-size: 20px;
}

.pages{
    text-align: center;
}

.pages li{
    display: inline;
}

#cur_page{
    border: 2px solid rgb(217, 34, 65);
}

.pages li a, .pages li{
    font-size: 20px;
    font-weight: bold;
    color: rgb(217, 34, 65);
    text-decoration: none;
}

/* main */